certifi==2020.6.20
convertdate @ file:///home/conda/feedstock_root/build_artifacts/convertdate_1589287890831/work
cycler==0.10.0
Cython @ file:///D:/bld/cython_1594253747180/work
ephem==3.7.7.1
fbprophet==0.6
holidays @ file:///home/conda/feedstock_root/build_artifacts/holidays_1595448845196/work
joblib @ file:///tmp/build/80754af9/joblib_1594236160679/work
kiwisolver==1.2.0
korean-lunar-calendar @ file:///home/conda/feedstock_root/build_artifacts/korean_lunar_calendar_1589354365811/work
LunarCalendar==0.0.9
matplotlib @ file:///D:/bld/matplotlib-base_1595353264753/work
mkl-service==2.3.0
numpy @ file:///D:/bld/numpy_1595523078866/work
olefile==0.46
pandas @ file:///C:/ci/pandas_1592841747005/work
Pillow @ file:///D:/bld/pillow_1594213048891/work
plotly @ file:///tmp/build/80754af9/plotly_1593522991827/work
PyMeeus @ file:///home/conda/feedstock_root/build_artifacts/pymeeus_1589222711601/work
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtWebEngine==5.12.1
pystan==2.19.0.0
python-dateutil==2.8.1
pytz==2020.1
retrying==1.3.3
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
wincertstore==0.2
